#nav-sidebar-apps > div {
  margin-bottom: 8px;
}

#nav-sidebar-apps h2 {
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

#nav-sidebar-apps h2 + ol {
  border-left: 1px solid #2a3b54;
  margin-left: 10px;
  padding-left: 10px;
}

#nav-sidebar-apps h2 + ol li a {
  font-size: 13px;
}
